
@model DataAccessLayer.Model.GetSupplierInvoiceForPDF_Result


<h2>Combine Pdf</h2>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Invoice</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                @if (@Model.logo != null)
                {
                    <img src="@Model.logo" width="200" height="200" />}
            </div>
            <div class="col-md-6">
                <h3>Self Billed Invoice</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h4>@Model.SupplierName</h4>
                <p>@Model.BusinessAddress</p>
            </div>
            <div class="col-md-6">
                <h5> Invoice Date : @Model.InvoiceDate</h5>
                <h5>Invoice Referance : @Model.InvoiceReferenceId</h5>
                <br />
                @if (Model.TaxReference != null)
                {
                    <h5> TAX Referance : @Model.TaxReference</h5>}
                @if (Model.VATAmount != null)
                {
                    <h5> TAX VATNumber : @Model.VATNumber</h5>}
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h5>To : ADK Consultancy</h5>
                <h5>Dummy Address</h5>
                <h5>Dummy Address</h5>
                <h5>Dummy Address</h5>
            </div>
        </div>
        <div class="row">
            <table border>
                <thead>
                    <tr>
                        <th colspan="4"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="2">Hair Services</td>
                        <td></td>
                        <td>@Model.HairService</td>
                    </tr>
                    <tr>
                        <td colspan="2">Beauty Services</td>
                        <td></td>
                        <td>@Model.BeautyService</td>
                    </tr>
                    @if (Model.Custom1 != null)
                    {
                        <tr>
                            <td colspan="2">@Model.Custom1</td>
                            <td></td>
                            <td>@Model.CustomHeader1</td>
                        </tr>
                    }
                    @if (Model.Custom2 != null)
                    {
                        <tr>
                            <td colspan="2">@Model.Custom2</td>
                            <td></td>
                            <td>@Model.CustomHeader2</td>
                        </tr>
                    }
                    @if (Model.Custom3 != null)
                    {
                        <tr>
                            <td colspan="2">@Model.Custom3</td>
                            <td></td>
                            <td>@Model.CustomHeader3</td>
                        </tr>
                    }
                    @if (Model.Custom4 != null)
                    {
                        <tr>
                            <td colspan="2">@Model.Custom4</td>
                            <td></td>
                            <td>@Model.CustomHeader4</td>
                        </tr>
                    }
                    @if (Model.Custom5 != null)
                    {
                        <tr>
                            <td colspan="2">@Model.Custom5</td>
                            <td></td>
                            <td>@Model.CustomHeader5</td>
                        </tr>
                    }
                    <tr>
                        <td colspan="2"></td>
                        <td>Subtotal(Net)</td>
                        <td>@Model.NetAmount</td>
                    </tr>
                    <tr>
                        <td colspan="2"></td>
                        <td>VAT</td>
                        <td>@Model.VATAmount</td>
                    </tr>
                    <tr>
                        <td colspan="2"></td>
                        <td>Advance Paid</td>
                        <td>@Model.AdvancePay</td>
                    </tr>
                    <tr>
                        <td colspan="2"></td>
                        <td>Balance Due</td>
                        <td>@Model.BalanceDue</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>