@model GiellyGreenTeam1.Models.PdfProfile

@{
    Layout = "";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
        body {
            font-size: 24px;
        }

        .custompagebreak {
            page-break-after: always;
        }

            .custompagebreak:last-child {
                page-break-after: auto;
            }

        .column {
            float: left;
            width: 50%;
            padding: 10px;
            height: 150px;
        }

        .columnHeader {
            float: left;
            width: 50%;
            padding: 10px;
            height: 70px;
        }

        .row:after {
            content: "";
            display: table;
            clear: both;
        }

        table {
            border: none;
            border-collapse: collapse;
            font-size: 20px;
        }

        th, td {
            padding: 6px;
        }

        .customdescription {
            width: 60%;
        }

        .mytablecell {
            border: 1px solid gray;
            border-collapse: collapse;
        }

        .amountalignheader {
            text-align: right;
            font-weight: bold;
        }

        .amountalign {
            text-align: right;
        }

        .customfooter {
            text-align: left;
        }

        .address2Div {
            width: 30%;
            padding-top: 8px;
        }

        .pt-5 {
            padding-top: 5px;
        }

        .pb-5 {
            padding-bottom: 5px;
        }

        .Customheader {
            width: 100%;
        }

        .mypadding2 {
            padding-top: 1rem;
            height: 45rem;
        }

        .f-25 {
            font-size: 25px;
            font-weight: bold;
        }

        .f-20 {
            font-size: 20px;
        }

        .pd-5 {
            padding: 5px;
        }

        .verti-bottom {
            vertical-align: bottom;
        }

        .verti-top {
            vertical-align: top;
        }

        .textRight {
            text-align: right;
        }

        .font-bold {
            font-weight: bold;
        }

        .customwordbreak {
            word-break: break-word;
        }
    </style>
</head>
<body>
    <table class="Customheader">
        <thead>
            <tr>
                <th></th>
                <th width="70%"></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    @if (Model.getSupplierInvoiceForPDF_Result.logo != null && Model.getSupplierInvoiceForPDF_Result.logo != "")
                    {
                        <img src="@Model.getSupplierInvoiceForPDF_Result.logo" width="200" height="100" alt="logo" />
                    }
                    else
                    {
                        <h3>@Model.getSupplierInvoiceForPDF_Result.SupplierName</h3>
                        <div class="customwordbreak">@Model.getSupplierInvoiceForPDF_Result.BusinessAddress</div>
                    }
                </td>
                <td class="f-25 textRight">Self-Billed Invoice</td>
            </tr>
            <tr>
                <td rowspan="5" class="f-20 pd-5 verti-top">
                    @if (Model.getSupplierInvoiceForPDF_Result.logo != null && Model.getSupplierInvoiceForPDF_Result.logo != "")
                    {
                        <h3>@Model.getSupplierInvoiceForPDF_Result.SupplierName</h3>
                        <div class="customwordbreak">@Model.getSupplierInvoiceForPDF_Result.BusinessAddress</div>
                    }
                </td>
                <td class="f-20 textRight pd-5"> Invoice Date : @Convert.ToDateTime(Model.getSupplierInvoiceForPDF_Result.InvoiceDate).ToShortDateString()</td>
            </tr>
            <tr>
                <td class="f-20 textRight pd-5">Invoice Reference : @Model.getSupplierInvoiceForPDF_Result.SupplierReference-@Model.getSupplierInvoiceForPDF_Result.InvoiceReferenceId</td>
            </tr>
            <tr>
                <td class="pd-5"><br /><br /></td>
            </tr>
            <tr>
                <td class="f-20 textRight pd-5">
                    @if (Model.getSupplierInvoiceForPDF_Result.TaxReference != null)
                    {
                        <div>TAX Reference : @Model.getSupplierInvoiceForPDF_Result.TaxReference</div>
                    }
                </td>
            </tr>
            <tr>
                <td class="f-20 textRight pd-5">
                    @if (Model.getSupplierInvoiceForPDF_Result.VATNumber != null)
                    {
                        <div>VAT Number : @Model.getSupplierInvoiceForPDF_Result.VATNumber</div>
                    }
                </td>
            </tr>
            <tr>
                <td class="f-20 pd-5 verti-bottom" colspan="2">
                    <div>
                        <b>To : @Model.companyProfile.CompanyName</b>
                    </div>
                    <div class="address2Div">
                        <div class="customwordbreak">@Model.companyProfile.AddressLine</div>
                        <div>@Model.companyProfile.City - @Model.companyProfile.ZipCode</div>
                        <div>@Model.companyProfile.Country</div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="mypadding2">
        <table class="table-bord" style="width:100%">
            <thead>
                <tr style="padding:3px;" class="mytablecell">
                    <th class="mytablecell" colspan="3" style="margin-left:10px;border-right:0px">Description</th>
                    <th class="mytablecell" style="text-align:right;border-left:0px">Amount(GBP)</th>
                </tr>
            </thead>
            <tbody>
                <tr class="mytablecell">
                    <td colspan="2" class="customdescription mytablecell">Hair Services</td>
                    <td class="mytablecell"></td>
                    <td class="mytablecell amountalign">@Convert.ToDecimal(Model.getSupplierInvoiceForPDF_Result.HairService).ToString("N2")</td>
                </tr>
                <tr class="mytablecell">
                    <td class="mytablecell" colspan="2">Beauty Services</td>
                    <td class="mytablecell"></td>
                    <td class="mytablecell amountalign">@Convert.ToDecimal(Model.getSupplierInvoiceForPDF_Result.BeautyService).ToString("N2")</td>
                </tr>
                @if (Model.getSupplierInvoiceForPDF_Result.CustomHeader1 != 0 && Model.getSupplierInvoiceForPDF_Result.CustomHeader1 != null)
                {
                    <tr class="mytablecell">
                        <td class="mytablecell" colspan="2">@Model.getSupplierInvoiceForPDF_Result.Custom1</td>
                        <td class="mytablecell"></td>
                        <td class="mytablecell amountalign">@Convert.ToDecimal(Model.getSupplierInvoiceForPDF_Result.CustomHeader1).ToString("N2")1</td>
                    </tr>
                }
                @if (Model.getSupplierInvoiceForPDF_Result.CustomHeader2 != 0 && Model.getSupplierInvoiceForPDF_Result.CustomHeader2 != null)
                {
                    <tr class="mytablecell">
                        <td class="mytablecell" colspan="2">@Model.getSupplierInvoiceForPDF_Result.Custom2</td>
                        <td class="mytablecell"></td>
                        <td class="mytablecell amountalign">@Convert.ToDecimal(Model.getSupplierInvoiceForPDF_Result.CustomHeader2).ToString("N2")</td>
                    </tr>
                }
                @if (Model.getSupplierInvoiceForPDF_Result.CustomHeader3 != 0 && Model.getSupplierInvoiceForPDF_Result.CustomHeader3 != null)
                {
                    <tr class="mytablecell">
                        <td class="mytablecell" colspan="2">@Model.getSupplierInvoiceForPDF_Result.Custom3</td>
                        <td class="mytablecell"></td>
                        <td class="mytablecell amountalign">@Convert.ToDecimal(Model.getSupplierInvoiceForPDF_Result.CustomHeader3).ToString("N2")</td>
                    </tr>
                }
                @if (Model.getSupplierInvoiceForPDF_Result.CustomHeader4 != 0 && Model.getSupplierInvoiceForPDF_Result.CustomHeader4 != null)
                {
                    <tr class="mytablecell">
                        <td class="mytablecell" colspan="2">@Model.getSupplierInvoiceForPDF_Result.Custom4</td>
                        <td class="mytablecell"></td>
                        <td class="mytablecell amountalign">@Convert.ToDecimal(Model.getSupplierInvoiceForPDF_Result.CustomHeader4).ToString("N2")</td>
                    </tr>
                }
                @if (Model.getSupplierInvoiceForPDF_Result.CustomHeader5 != 0 && Model.getSupplierInvoiceForPDF_Result.CustomHeader5 != null)
                {
                    <tr class="mytablecell">
                        <td class="mytablecell" colspan="2">@Model.getSupplierInvoiceForPDF_Result.Custom5</td>
                        <td class="mytablecell"></td>
                        <td class="mytablecell amountalign">@Convert.ToDecimal(Model.getSupplierInvoiceForPDF_Result.CustomHeader5).ToString("N2")</td>
                    </tr>
                }
                <tr>
                    <td colspan="2" style="border:0px"></td>
                    <td class="amountalignheader">Subtotal(Net)</td>
                    <td class="mytablecell amountalign">@Convert.ToDecimal(Model.getSupplierInvoiceForPDF_Result.NetAmount).ToString("N2")</td>
                </tr>
                <tr>
                    <td colspan="2"></td>
                    <td class="amountalignheader">VAT</td>
                    <td class="mytablecell amountalign">@Convert.ToDecimal(Model.getSupplierInvoiceForPDF_Result.VATAmount).ToString("N2")</td>
                </tr>
                <tr>
                    <td colspan="2"></td>
                    <td class="amountalignheader">Advance Paid</td>
                    <td class="mytablecell amountalign">(@Convert.ToDecimal(Model.getSupplierInvoiceForPDF_Result.AdvancePay).ToString("N2"))</td>
                </tr>
                <tr>
                    <td colspan="2"></td>
                    <td class="amountalignheader">Balance Due</td>
                    <td class="mytablecell amountalign">@Convert.ToDecimal(Model.getSupplierInvoiceForPDF_Result.BalanceDue).ToString("N2")</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="customfooter">
        @if (Model.getSupplierInvoiceForPDF_Result.CompanyRegisterNumber != null)
        {<div><b> Company Reg No : </b>@Model.getSupplierInvoiceForPDF_Result.CompanyRegisterNumber</div>}
        @if (Model.getSupplierInvoiceForPDF_Result.CompanyRegisterAddress != null)
        {<div><b> Registered address : </b>@Model.getSupplierInvoiceForPDF_Result.CompanyRegisterAddress</div>}
    </div>
</body>
</html>